data/data-processed/*_cfg/
data/data-intermediate/*.json
data/vuln-intermediate/*.json
data/vuln-processed/*_cfg/
data/Dataset-1

py/venv
py/tests/sample_data

__pycache__
.pytest_cache
*.pkl
.idea

data/training/
data/vuln-eval/

.DS_Store
bin2ml/
